body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
}




.container{
    margin: 0;
}



/*On Load Animation */
.OnLoadAnimation{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.animationContainer{
    width:490px;
    display: flex;
}

.OnLoadAnimation h1{
    font-size: 60px;
    text-align: center;
    color: #02b3e4;
    align-self: flex-start;
}

.OnLoadAnimation h1.TypeIt {
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3s 2s steps(45, end),
            blink-caret .6s step-end infinite;
}
    /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%;}

}
    /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }

}

@media only screen and (max-width: 921px) {

    .OnLoadAnimation h1{
        font-size: 30px;
    }
    .animationContainer{
        width:245px;
    }
}



/* wave effect*/
#expandable{
    position: absolute;
    border-radius: 50%;
    transition: all 3s;
}
#expandable.active{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    transform: scale(100);
}




/* Main Page */
.MainPage{
    top:0 ;
    left:0 ;
    display: none;
    width: 100vw;
    height: 100vh;
}

.MainPage.active{
    top:0 ;
    left:0 ;
    animation : fadeIn 2s;
}

@keyframes fadeIn {
    from { background-color: white; }
    to   { background-color: black; }
}
    /* navigation bar*/
nav{
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #000000 !important;
}

.nav-content{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}

a{
    font-size: 14px;
    text-align: center;
    transition: font-size .2s ;
}

a.active{
    font-size: 16px  !important;
}


.ui-view{
    width: 100vw;
    height: 81%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: center;
    justify-content: center;
    align-items: center;
}





/* footer*/
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.madeBy{
    left:0;
    padding: 8px;
    bottom:0;
    position: absolute;

}

.links {
    margin: 0;
    position: absolute;
    align-self: flex-end;
    align-items: flex-end;
    float: right;
    padding: 2px 4px 0 0;
    right: 0;
    bottom: 0;



}

.Github{

    height: 40px;
    width: 40px;
}
.Github:hover{
    opacity: .5;
}


/* media query for mobile view*/
@media only screen and (max-width: 576px) {

    .Github{
        height: 30px;
        width: 30px;
    }

    .madeBy{
        font-size: 10px;
    }

    a{
        font-size: 12px;
    }

    a.active{
        font-size: 16px  !important;
    }

}


