body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1f8fc1;
    font-family: 'Ubuntu', sans-serif;
}

div{
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.container{
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: 0;
}





/* header */
.header{
    padding: 24px;
    margin-bottom: 20px;
    width: 100vw;
    font-size: 38px;
    background-color: #FFFFFF;
    color: #1f8fc1;

}





/* form container */
.form-div{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-content: center;
    width: 100vw;
    padding: 70px;
}





/* form card */
.form-card{
    width: 530px;
    padding: 30px;
    background-color: #FFFFFF;
    height: 100%;
}





/* signUP login */
.enter-option{
    margin-bottom: 50px;
}

.options{
    padding-left: 10px;
    padding-right: 10px;

}

.col.s6{
    padding-bottom: 20px !important;
}

a{
    font-size: 26px;
    color: #1f8fc1;
    padding: 40px;
}

.col.s6.active{
    border-bottom: 2px solid #1f8fc1 ;
    box-shadow: 0 1px 0 0 #02b3e4 ;
    color: #1f8fc1;
}






/* input field override */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #02b3e4 !important;
    box-shadow: 0 1px 0 0 #1f8fc1 !important;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #02b3e4 !important;
}






/* submit button */

button{
    background-color: #1f8fc1 !important;
}
