body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
}



.container{
    margin: 0;
}



/*On Load Animation */
.OnLoadAnimation{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.animationContainer{
    width:490px;
    display: flex;
}

.OnLoadAnimation h1{
    font-size: 60px;
    text-align: center;
    color: #02b3e4;
    align-self: flex-start;
}

.OnLoadAnimation h1.TypeIt {
    width: 0;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3s 2s steps(45, end),
            blink-caret .6s step-end infinite;
}
    /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100%;}

}
    /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }

}




/* wave effect*/
#expandable{
    position: absolute;
    border-radius: 50%;
    transition: all 4s;
}
#expandable.active{
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    transform: scale(100);
}




/* Main Page */
.MainPage{
    top:0 ;
    left:0 ;
    display: none;
    width: 100vw;
    height: 100vh;
}

.MainPage.active{
    top:0 ;
    left:0 ;
    animation : fadeIn 2s;
}

@keyframes fadeIn {
    from { background-color: white; }
    to   { background-color: black; }
}
    /* navigation bar*/
nav{
    display: flex !important;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #000000 !important;
}

.nav-content{


}

a{
    font-size: 14px;
    text-align: center;
    transition: font-size .2s ;
}

a.active{
    font-size: 16px  !important;
}





/* footer*/
footer{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer div{
    margin: 10px;
    float: left;
    align-self: flex-start;
}

footer .links {
    margin: 10px;
    position: fixed;
    align-self: flex-end;
    align-items: flex-end;
    float: right;
    right: 0;
    bottom: 0;
}

.circle{

    height: 40px;
    width: 40px;
}
.circle:hover{
    opacity: .5;
}