.allProjects{
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
}



.card{
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.project-img{
    padding: 10px 100px 10px 100px;
    background-color: #292929!important;

}