<div class="Profile">
    <div class="circle">
        <img id="profileImg" ng-src="images/MyPhoto.jpg">
    </div>

    <div class="description">
        <div id="myname">My Name Is Omkar Srinivas Prabhu</div><br/>
        <b class="sideDesc">I am a Computer Engineering Student a NITK, Suratkal</b>
        <b class="sideDesc">
            I am interested in Application Development for Android and Web platforms
        </b>
    </div>

</div>

<style>


    @media only screen and (max-width: 921px) {
        #profileImg {
            width: 120px;
            height: 120px;
        }
        #myname{
            font-size: 22px;
        }
        .sideDesc{
            font-size: 12px;
        }
    }

</style>