<!-- Profile Page -->

<div class="Profile">
    <div class="row">
        <!-- image -->
        <div class="circle col s12 m4 l4 center">
            <img id="profileImg" ng-src="images/myPhoto.jpg">
        </div>
        <!-- About me -->
        <div class="description col s12 m8 18 center">
            <div id="description-container">
                <div id="myname">My name Is Omkar Srinivas Prabhu</div><br/>
                <b class="sideDesc">I am a Computer Engineering Student at NITK, Suratkal<br>
                    I am interested in Application Development for Android and Web platforms<br>
                    Current I am in second year, 4th Sem.<br>
                    Other hobbies are playing basketball, badminton, wondering when I will have a the most minimalistic desk setup.

                </b>
            </div>
        </div>
    </div>
</div>

<style>


    @media only screen and (max-width: 921px) {
        #profileImg {
            width: 120px;
            height: 120px;
        }

        #myname{
            font-size: 22px;
        }
        .sideDesc{
            font-size: 12px;
        }
    }

</style>