<div  class="z-depth-5" ng-controller="postController as postCtrl" >
    <!-- post icon -->
    <div class="header-img">
        <img ng-src="images/post.png" width="150" height="150" class="circle z-depth-4" alt="User" >
    </div>
    <!-- post content -->
    <div class="post-space">
        <div class="post-title">
            <b class="name-user">{{pContent.title}}</b>
        </div>
        <div class="post-content">
            <b>{{pContent.content}}</b>
        </div>
    </div>
    <!-- post author  details -->
    <ul class="collection">
        <li class="collection-item user-det ">
            <img ng-src="images/userImg.jpg" class="circle z-depth-4" width="70" height="70">
            <span class="user-data">
                {{pContent.author.name}}
            </span>
        </li>
        <li class="collection-item user-det ">
            <img ng-src="images/search.png" class="circle z-depth-4" width="70" height="70">
            <span class="user-data">
                {{pContent.author.username}}
            </span>
        </li>
        <li class="collection-item user-det ">
            <img ng-src="images/email-icon.png" class="circle z-depth-4" width="70" height="70">
            <span class="user-data">
                {{pContent.author.email}}
            </span>
        </li>
        <li class="collection-item user-det"></li>


    </ul>


</div>