<div   ng-controller="postsController as postsCtrl" >
    <!-- posts list -->
    <ul class="collapsible popout z-depth-5" data-collapsible="expandable">
        <!-- posts with author details -->
        <li ng-repeat="post in posts">
            <div class="collapsible-header z-depth-5" ><b>{{post.title}}</b></div>
            <div class="collapsible-body z-depth-5" >
                <span class="postAuthorDetails">
                    Name:     {{post.author.name}}<br>
                    Username: {{post.author.username}}<br>
                </span>
                <a class="waves-effect waves-light btn detb" ng-click="postsCtrl.postContent($index)">View Details</a>
            </div>
        </li>
    </ul>


</div>







<!-- post floating button -->
<div class="fixed-action-btn ">
    <a class="btn-floating btn-large z-depth-5" href="#!post">
        <img ng-src="../images/edit-icon.png" class=" float circle">
    </a>
</div>
