<div class="row"  >
    <!-- signup form -->
    <form name="mForm"  ng-controller="signUpController as signCtrl" ng-submit="signCtrl.submit() && mForm.$valid" >
        <!-- Name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" name="first-name" ng-model="name" type="text" required >
                <label for="first_name">First Name</label>
            </div>
        </div>
        <!-- user name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="user-name" name="user-name" ng-model="username" type="text" required >
                <label for="user-name">User Name</label>
            </div>
        </div>
        <!-- email -->
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" ng-model="email" type="email" required>
                <label for="email">Email</label>
            </div>
        </div>
        <!-- password -->
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="email" ng-model="password" type="password" required >
                <label for="password">Password</label>
            </div>
        </div>
        <!-- submit button -->
        <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>


    </div>
</div>