<div  class="z-depth-5" ng-controller="userController as userCtrl" >
    <!-- users icon -->
    <div class="header-img">
        <img ng-src="images/userImg.jpg" width="150" height="150" class="circle z-depth-4" alt="User" >
    </div>
    <!-- user name -->
    <div class="user-name">
        <b class="name-user">{{userData.name}}</b>
    </div>
    <!-- user details -->
    <ul class="collection">
        <li class="collection-item user-det ">
            <img ng-src="images/search.png" class="circle z-depth-4" width="70" height="70">
            <span class="user-data">
                {{userData.username}}
            </span>
        </li>
        <li class="collection-item user-det ">
            <img ng-src="images/email-icon.png" class="circle z-depth-4" width="70" height="70">
            <span class="user-data">
                {{userData.email}}
            </span>
        </li>
        <li class="collection-item user-det"></li>


    </ul>


</div>