<div  class="z-depth-5" ng-controller="usersController as usersCtrl" >
    <!-- users icon -->
    <div class="header-img">
        <img ng-src="images/usersImg.png" width="200" height="200" class="circle z-depth-5" alt="Users" >
    </div>
    <!-- all users -->
    <div class="collection with-header">
        <!-- link -->
        <a ng-click="usersCtrl.loadUserPage($index)" class="collection-item" ng-repeat = "user in userData">
            <b>{{user.name}}</b><br>
            <p>
                {{user.username}}
            </p>
        </a>
    </div>


</div>


