<div id="about-container">
	<!--  General  -->
	<div class="about-section" style="flex-direction: column">
		<div class="text-container interests">
			<div class="sub-text">
        My interests lie in <span class="main-text">Systems</span> and <span class="main-text">Software Developement</span>. I have worked on developing apps for Web and Android platforms and blockchain-based DApps . Dabbled with Containers and their orchestration, Parallel Programming and Hadoop
        <br><br>Currently working on my major project using <span class="main-text">Golang</span>, amazed by its simplicity and design pattern!
        <br><br>I plan on exploring <span class="main-text">Distributed Systems</span> next..</div>
		</div>
		<div id="social">
			<a target="blank" href="https://github.com/omkarprabhu-98"><img src="/assets/social-icons/github.png" href='' class="icon"/></a>
			<a target="blank" href="https://twitter.com/omkarprabhu_98"><img src="/assets/social-icons/twitter.png" class="icon"/></a>
			<a target="blank" href="mailto:omkarp.nitk@gmail.com"><img src="/assets/social-icons/gmail.png" class="icon"/></a>
			<a target="blank" href="https://linkedin.com/in/omkarprabhu-98/"><img src="/assets/social-icons/linkedin.png" class="icon"/></a>
		</div>
	</div>

	<!-- College -->
	<div class="about-section" id="college" style="justify-content: flex-end">
		<div class="text-container">
			<div class="sub-text">Final year undergraduate pursuing
				<br><span class="main-text">Computer Science and Engineering</span> at
				<br><span class="main-text">National Institute of Technology Karnataka, Surathkal </span>. <br>  7th Semester</div>
		</div>
		<div class="image-container" id="grad">
			<img src="/assets/about/grad.jpg" class="img-box"/>
		</div>
	</div>

	<!-- Sports -->
	<div class="about-section" style="justify-content: flex-start">
		<div class="image-container">
			<img src="/assets/about/basketball.jpg" class="img-box"/>
		</div>
		<div class="text-container">
			<div class="sub-text">I love to play <span class="main-text">Basketball</span> and Badminton. <br> <span class="main-text">follow NBA && Kyrie fan!!</span> <br	>I try to catch up with football occasionaly.</div>
		</div>
	</div>

</div>
