<div id="about-container">
	<div class="about-section" style="flex-direction: column">
		<div class="text-container" style="padding:100px; align-items: center; margin-right:100px">
			<div class="sub-text">Currently, I am exploring Docker and Kubernetes.<br> After getting used to them, I want to dive into details to understand their architecture<br><br>My interests lie in Systems and Software Developement. I have worked on projects for Web and Android platforms<br><br>I plan on exploring Distributed Systems next..</div>
		</div>
		<div id="social">
			<img src="/assets/github.png" class="icon"/>
			<img src="/assets/twitter.png" class="icon"/>
			<img src="/assets/gmail.png" class="icon"/>
			<img src="/assets/linkedin.png" class="icon"/>
		</div>
	</div>

	<div class="about-section" style="justify-content: flex-end">
		<div class="text-container">
			<div class="sub-text">3rd year undergraduate pursuing <br>Computer Engineering at <br>National Institute of Technology Karnataka, Surathkal. <br>  6th Semester</div>
		</div>
		<div class="image-container" style="margin-right: 100px;">
			<img src="/assets/grad.jpg" class="img-box"/>
		</div>
	</div>

	<div class="about-section" style="justify-content: flex-start">
		<div class="image-container">
			<img src="/assets/basketball.jpg" class="img-box"/>
		</div>
		<div class="text-container">
			<div class="sub-text">I love to play Basketball and Badminton. <br> Kyrie fan!! <br>I follow football occasionaly!</div>
		</div>
	</div>

</div>