<div id="experience-container">

	<!--  Technical  -->
	<div class="experience-section" style="justify-content: center">
		<div class="main-text-heading">Technical</div>
	</div>

  <div class="experience-section">
    <div class="image-container">
      <img src="/assets/experience/goldman_sachs.png" class="img-box"/>
    </div>
    <div class="text-container">
      <div class="main-text">Goldman Sachs, Summer Analyst, Bengaluru, India</div>
    </div>
  </div>

	<div class="experience-section">
		<div class="image-container">
			<img src="/assets/experience/iitb.png" class="img-box"/>
		</div>
		<div class="text-container">
			<div class="main-text">Indian Institute of Technology Bombay, Summer Intern, Mumbai, India</div>
			<ul class="sub-text">
				<li>Developed a new task using spotify/luigi to extract the events of a resource click from the web log files of IITBombayX and Data API for the same.
				<li>Developed a Data API for displaying the video timeline and quiz response data.
				<li>Modified the weekly user activity task to include activities of resource access.
				<li>Developed a Data API for displaying the video timeline and quiz response data corresponding to the reflection spot in the video
			</ul>
		</div>
	</div>

	<div class="experience-section">
		<div class="image-container">
			<img src="/assets/experience/savemonk.png" class="img-box"/>
		</div>
		<div class="text-container">
			<div class="main-text">Savemonk, Web Dev Intern, Surathkal, India</div>
			<ul class="sub-text">
        <li>Worked on the front-end of the <a href="https://savemonk.com">website</a>
				<li>Developed CRM portal and AdWords page
			</ul>
		</div>
	</div>

	<!--  College  -->
	<div class="experience-section" style="justify-content: center">
		<div class="main-text-heading">At NITK</div>
	</div>

	<div class="experience-section">
		<div class="image-container">
			<img src="/assets/experience/iris.png" class="img-box"/>
		</div>
		<div class="text-container">
			<div class="main-text">IRIS, Systems Team</div>
      <ul class="sub-text">
        <li>Worked on setting up the development environment using Kubernetes
        <li>Configured Gitlab CI for Android
      </ul>
		</div>
	</div>

	<div class="experience-section">
		<div class="image-container">
			<img src="/assets/experience/webclub.jpg" class="img-box"/>
		</div>
		<div class="text-container">
			<div class="main-text">Web Enthusiasts'​ Club NITK</div>
			<ul class="sub-text">
				<li>Vice Chair, Development SIG
        <li>Systems SIG
				<li>Member of Organising team for Hacktoberfest event to promote open source contributions in NITK
        <li>Conducted and organized talks and mentorship sessions as a part of club events
			</ul>
		</div>
	</div>

	<!--  Resume  -->
	<div class="experience-section" style="justify-content: center;">
		<a target="blank" href="https://drive.google.com/open?id=1UZ3bT9GFxlgCVMiXRLAZLaHpKouT01oI" style="text-decoration: none;"><div class="main-text-heading" style="color: #1565C0; margin-bottom: 100px;">Resume</div></a>
	</div>


</div>
