<div id="project-container">

	<!--  Selected  -->
	<div class="project-section" style="justify-content: center">
		<div class="main-text-heading">Selected</div>
	</div>

	<div class="project-section">
		<div class="text-container">
			<div class="main-text"><a href="https://github.com/TeamAlpha-NITK/Secure-Aadhaar">Secure Aadhaar</a></div>
			<ul class="sub-text">
				<li>Developed using Hyperledger Composer, Node.js, Angular
				<li>A Secure Digital Identification platform on blockchain that allows users to control the access of their
					identification information
				<li>Worked on building the Smart Contract and Admin Server
			</ul>
		</div>
	</div>

	<div class="project-section">
		<div class="text-container">
			<div class="main-text"><a href="https://github.com/CSE-Projects/crypto-watch">Crypto Watch</a></div>
			<ul class="sub-text">
				<li>Developed using MySQL, Express.js, Angular, Node.js
				<li>A web portal for tracking user’s expenses, with features like resolving payments of people in a group,
					analysis of transactions, etc.
				<li>Worked on back-end, front-end and design
			</ul>
		</div>
	</div>

	<div class="project-section">
		<div class="text-container">
			<div class="main-text"><a href="https://github.com/CSE-Projects/course-assistant-for-educators">Course Assistant for Educators</a></div>
			<ul class="sub-text">
				<li>Developed on Android with Firebase and SQLite
				<li>Provides features like recording attendance, marks, setting reminders for projects, etc. for courses undertaken by educators. Includes application feedback and backup functionality for stored data
			</ul>
		</div>
	</div>

	<div class="project-section">
		<div class="text-container">
			<div class="main-text"><a href="https://github.com/omkarprabhu-98/mapreduce-jobs-for-hadoop">MapRecude Jobs for Hadoop</a></div>
			<ul class="sub-text">
				<li> Developed using Hadoop Streaming and spotify/luigi
				<li>Collection of examples for jobs in Python for Apache Hadoop using MapReduce programming model
			</ul>
		</div>
	</div>

	<!--  Other  -->
	<div class="project-section" style="justify-content: center">
		<div class="main-text-heading" style="font-weight: normal">All my projects can be found here:
			<a target="blank" href="https://github.com/omkarprabhu-98"><img src="/assets/social-icons/github.png" href='' class="icon"/></a>
		</div>
	</div>


</div>