/* You can add global styles to this file, and also import other style files */

html {
	/* font-family: 'Roboto Mono', monospace; */
	/* font-family: 'Roboto Slab', serif; */
	font-family: 'Roboto Slab', serif;
	font-family: 'Questrial', sans-serif;
	font-family: 'Varela Round', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}